<%- include('./templates/cabecera',{tituloWeb:'404'}) %>

    <h1 align = center>Página de Error - 404</h1>
    <h2 align = center><%=titulo404%></h2>
    <p align= center>  estamos trabajando par solucionar los inconvenientes presentados</p>
    <p align= center>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda aperiam ex quaerat!</p>

</body>
</html>