<h1 align="center">Crear Usuario</h1>
	<div class="container">
	 <form action="/usuarios" method="post">
		 <input type="text"
		 placeholder="Agregar Nombres del Usuario"
		 class="form-control my-2"
		 name="nombre">
 
		 <input type="text"
		 placeholder="Agregar Alias del Usuario"
		 class="form-control my-2"
		 name="apellidos">
 
		 <input type="password"
		 placeholder="Agregar Contraseña de Usuario"
		 class="form-control my-2"
		 name="cel">
		 <button type="submit"
		 class="btn btn-success btn-block">
			 Agregar Usuario
		 </button>
 
	 </form>
 
	</div>