<%- include('./templates/cabecera',{tituloWeb:'Productos'}) %>
<%- include('./templates/titulo',{tituloSeccion:'Productos'}) %>
<%- include('./templates/navbar') %>

<link rel="stylesheet" href="css/estilosProductos.css">

<div class="contendor-fluid">
    <form action="Productos" method="post" enctype="multipart/form-data">
        <h2>Cargar listado de productos</h2>
        <div class="contenedorIN">
            <div>
                <input id="examinar" type="file" name="archivo" value="Buscar" >
                <button  type="submit " align ="center" name="cargar ">Cargar</button>
            </div>
        </div>
    </form>
    <form action="Productos" method="post">
        <div class="Down ">
            <h2>Actualizar Productos</h2>
            <div class="contenedorDown ">
                <div>
                    <label>Codigo</label>
                    <input type="text" name="codigo" value="" >>
                    <input type="hidden" name="code" value="">
                    <button type="submit" name="consultar">Consultar</button>
                </div>
                <div>
                    <label>Nombre</label> <input type="text" name="nombre" value="">
                </div>
                <div>
                    <label>Precio</label> <input type="number" name="precio" value="">
                </div>
            </div>
            <div  class="botones ">
                <div>
                    <button type="submit" name="actualizar">Actualizar</button>
                </div>
                <div>
                    <button type="submit" name="cancelar">Cancelar</button>
                </div>
            </div>
        </div>
    </form>

</body>
</html>