* {
	
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}

body {
	font-family: calibri, sans serif;
}

.titulo {
	background: linear-gradient(#001b1e, #014049);
	color: white;
}

h1 {
	width: 1000px;
	margin: auto;
	font-size: 22px;
	font-weight: normal;
	padding: 20px 0px 10px 0px;
}

header {
	border-bottom: 1px solid #04717a;
	padding: 10px 0 10px 0;
}

nav {
	width: 1000px;
	margin: auto;
}

nav ul {
	display: flex;
	flex-direction: row;
}

nav ul li {
	list-style: none;
	margin-right: 35px;
}

nav ul li a {
	text-decoration: none;
	font-size: 20px;
	color:#04717a;
}

nav ul li a:hover {
	background-color: #014049;
	color: white;
	padding: 10px 0 10px 0;
	transition: ease-in-out 0.2s;
}

.contenedor-fluid {
	border-top: solid gray 1px;
	background-color: indigo;
}

.contenedorIN {
	display: flex;
	justify-content: space-between;
	width: 800px;
	margin: 50px auto 0 auto;
}


.contenedorIN label {
	display: flex;
	color:#04717a;
	font-size: 20px;
	margin-bottom: 15px;
}

.contenedorIN input {
	display: flex;
	font-size: 20px;
	width: 260px;
	margin-bottom: 15px;
}

.contenedorBotones {
	margin: auto;
	width: 850px;
	display: flex;
	justify-content: center;
}

.contenedorBotones input {
	width: 150px;
	height: 40px;
	font-family: calibri;
	font-size: 20px;
	background: linear-gradient(#001b1e, #014049);
	color: white;
	border-radius: 5px;
	margin: 40px 10px 0 10px;
	border: none;
}

.contenedorBotones input:hover {
	background-color: rgb(149, 149, 149);
	color: rgb(100, 100, 100);
}


.table
{caption-side:bottom;border-collapse:collapse}caption{padding-top:.5rem;padding-bottom:.5rem;color:#6c757d;text-align:left}th{text-align:inherit;text-align:-webkit-match-parent}tbody,td,tfoot,th,thead,tr{border-color:inherit;border-style:solid;border-width:0}
