@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height:100vh;
	font-family: calibri, sans serif;
 	background-image: url(https://image.freepik.com/free-photo/abstract-digital-grid-black-background_53876-97647.jpg);
    background-size: cover;
    background-position:center;
}

h1 {
	text-align: center;
	margin-top: 70px;
	margin-bottom: 30px;
	color: #01d3e0;
	font-size: 40px;
	font-weight: normal;
}

.contenedor01 {
	width: 700px;
	margin: auto;
	padding: 50px;
}

.contenedorIN {
	display: flex;
	width: 450px;
	margin: auto;
	padding-right: 60px;
}

.contenedorIN div {
	width: 50%;
}

.contenedorIN label {
	display: block;
	margin-top: 30px;
	margin-right: 20px;
	font-size: 20px;
	text-align: right;
	color: #04717a;
}

.contenedorIN input {
	display: block;
	margin-top: 30px;
	width: 95%;
	font-size: 20px;
}

.contenedorBotones {
	margin: auto;
	width: 450px;
	display: flex;
	justify-content: center;
}

.contenedorBotones input {
	width: 150px;
	height: 40px;
	font-family: calibri;
	font-size: 20px;
	background: linear-gradient(#001b1e, #020305);
	color: white;
	border-radius: 5px;
	margin: 55px 10px 0 10px;
	border-color: #04717a;
	border-bottom-width: thin;
}

.contenedorBotones input:hover {
	background-color: rgb(149, 149, 149);
	color: rgb(100, 100, 100);
}